.containerProjects {
  display: flex;
}

.proposals-container {
  width: 400px;
}

.proposal {
  background-color: tomato;
  height: 60px;
  width: 250px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
